/* General styles */

body {
    font-family: Open Sans, sans-serif;
    margin: 0 auto;
    width: 70%;
    padding: 0;
    background-color: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

section {
    padding: 30px;
    margin-top: 20px;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Specific styles */

#definition {
    background-color: #f8f8f8;
}

#how-it-works {
    background-color: #fff;
}

#benefits {
    background-color: #f8f8f8;
}

#disadvantages {
    background-color: #fff;
}

#india-hydropower {
    background-color: #f8f8f8;
}
